@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: rgb(83, 83, 83);
}

.container {
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.d-none {
  display: none;
}

.header {
  margin-top: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 85%;
  padding: 10px 30px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.header .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(73, 73, 73);
}
.header .logo-container h2 {
  margin: 0;
  font-size: 25px;
  letter-spacing: 3px;
  margin-top: 5px;
  font-family: "Playwrite AT", cursive;
}
.header .logo-container .logo .bx {
  font-size: 40px;
  color: crimson;
}
.header .search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
}
.header .search-form .search-input {
  width: 100%;
  padding: 10px;
  border-radius: 40px;
  outline: none;
  border: 1px solid rgb(73, 73, 73);
}
.header .search-form .bx {
  position: absolute;
  right: 10px;
  color: crimson;
  font-size: 25px;
}

.hero {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.hero h2 {
  margin: 30px 0;
  font-size: 35px;
  color: rgb(73, 73, 73);
}
.hero .hero-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.hero .hero-container .hero-image {
  flex: 1 0 35%;
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
}
.hero .hero-container .hero-image::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-color: crimson;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
}
.hero .hero-container .hero-image .hero-img {
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 10px 100px 10px 10px;
  margin-left: 25px;
  margin-top: 25px;
}
.hero .hero-recipe {
  background: rgba(255, 255, 255, 0.6156862745);
  padding: 30px;
  border-radius: 5px;
  padding: 0 30px;
  flex: 1 0 65%;
}
.hero .hero-recipe h3 {
  margin-bottom: 10px;
  font-size: 30px;
  color: crimson;
}
.hero .hero-recipe p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
  line-height: 2rem;
  font-size: 18px;
}
.hero .day-info {
  display: flex;
  gap: 50px;
  margin: 30px 0;
  font-weight: 500;
}
.hero .day-info div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero .day-info div .bx {
  font-size: 20px;
  color: crimson;
}
.hero .day-buttons {
  display: flex;
  gap: 30px;
}
.hero .day-buttons .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 500;
  color: rgb(73, 73, 73);
  box-shadow: 0 0 0 1px crimson;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.hero .day-buttons .animated-button svg {
  position: absolute;
  width: 24px;
  fill: crimson;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.hero .day-buttons .animated-button .arr-1 {
  right: 16px;
}
.hero .day-buttons .animated-button .arr-2 {
  left: -25%;
}
.hero .day-buttons .animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: crimson;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.hero .day-buttons .animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.hero .day-buttons .animated-button:hover {
  box-shadow: 0 0 0 4px transparent;
  color: #212121;
  border-radius: 12px;
}
.hero .day-buttons .animated-button:hover .arr-1 {
  right: -25%;
}
.hero .day-buttons .animated-button:hover .arr-2 {
  left: 16px;
}
.hero .day-buttons .animated-button:hover .text {
  transform: translateX(12px);
}
.hero .day-buttons .animated-button:hover svg {
  fill: #212121;
}
.hero .day-buttons .animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 2px crimson;
}
.hero .day-buttons .animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
.hero .ingredients-info {
  padding: 10px 30px 30px 30px;
}
.hero .ingredients-info ul li {
  padding-bottom: 5px;
}/*# sourceMappingURL=style.css.map */