@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: rgb(83, 83, 83);
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: crimson;
}

.container {
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.d-none {
  display: none;
}

.header {
  margin-top: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 85%;
  padding: 10px 30px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.header .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(73, 73, 73);
}
.header .logo-container h2 {
  margin: 0;
  font-size: 25px;
  letter-spacing: 3px;
  margin-top: 5px;
  font-family: "Playwrite AT", cursive;
}
.header .logo-container .logo .bx {
  font-size: 40px;
  color: crimson;
}
.header .search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
}
.header .search-form .search-input {
  width: 100%;
  padding: 10px;
  border-radius: 40px;
  outline: none;
  border: 1px solid rgb(73, 73, 73);
}
.header .search-form .bx {
  position: absolute;
  right: 10px;
  color: crimson;
  font-size: 25px;
}

.hero {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.hero h2 {
  margin: 30px 0;
  font-size: 35px;
  color: rgb(73, 73, 73);
}
.hero .hero-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.hero .hero-container .hero-image {
  flex: 1 0 35%;
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
}
.hero .hero-container .hero-image::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-color: crimson;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
}
.hero .hero-container .hero-image .hero-img {
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 10px 100px 10px 10px;
  margin-left: 25px;
  margin-top: 25px;
}
.hero .hero-recipe {
  background: rgba(255, 255, 255, 0.6156862745);
  padding: 30px;
  border-radius: 5px;
  padding: 0 30px;
  flex: 1 0 65%;
}
.hero .hero-recipe h3 {
  margin-bottom: 10px;
  font-size: 30px;
  color: crimson;
}
.hero .hero-recipe p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
  line-height: 2rem;
  font-size: 18px;
}
.hero .day-info {
  display: flex;
  gap: 50px;
  margin: 30px 0;
  font-weight: 500;
}
.hero .day-info div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero .day-info div .bx {
  font-size: 20px;
  color: crimson;
}
.hero .day-buttons {
  display: flex;
  gap: 30px;
}
.hero .day-buttons .animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 500;
  color: rgb(73, 73, 73);
  box-shadow: 0 0 0 1px crimson;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.hero .day-buttons .animated-button svg {
  position: absolute;
  width: 24px;
  fill: crimson;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.hero .day-buttons .animated-button .arr-1 {
  right: 16px;
}
.hero .day-buttons .animated-button .arr-2 {
  left: -25%;
}
.hero .day-buttons .animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: crimson;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.hero .day-buttons .animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.hero .day-buttons .animated-button:hover {
  box-shadow: 0 0 0 4px transparent;
  color: #212121;
  border-radius: 12px;
}
.hero .day-buttons .animated-button:hover .arr-1 {
  right: -25%;
}
.hero .day-buttons .animated-button:hover .arr-2 {
  left: 16px;
}
.hero .day-buttons .animated-button:hover .text {
  transform: translateX(12px);
}
.hero .day-buttons .animated-button:hover svg {
  fill: #212121;
}
.hero .day-buttons .animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 2px crimson;
}
.hero .day-buttons .animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
.hero .ingredients-info {
  padding: 10px 30px 30px 30px;
}
.hero .ingredients-info ul li {
  padding-bottom: 5px;
}

.logo-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(172, 172, 172, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
}
.logo-section .detail-logo {
  display: flex;
  align-items: center;
}
.logo-section .detail-logo .logo {
  font-size: 24px;
  color: #333;
  margin-right: 10px;
}
.logo-section .detail-logo h2 {
  font-size: 35px;
  margin: 0;
  font-family: "Playwrite AT", cursive;
}
.logo-section .detail-logo .bx {
  font-size: 55px;
  color: crimson;
}

.detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
.detail-container .detail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-container .detail .detail-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: auto;
  overflow: hidden;
}
.detail-container .detail .detail-img img {
  max-width: 70%;
  height: auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 10px;
}

.detail-info h1 {
  font-size: 45px;
  color: crimson;
  font-family: "Playwrite AT", cursive;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.detail-info .recipe-information {
  display: flex;
  gap: 200px;
  margin-top: 20px;
  line-height: 25px;
}
.detail-info .recipe-information h2 {
  margin-bottom: 10px;
  font-size: 30px;
}
.detail-info .recipe-information ul {
  list-style: none;
  padding: 0;
}
.detail-info .recipe-information ul li {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
}
.detail-info .recipe-information p {
  padding-right: 150px;
}

.recipe-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 50px;
}
.recipe-links .links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recipe-links .links p {
  box-shadow: rgba(20, 20, 20, 0.1) 0px 4px 12px;
}
.recipe-links .links h2 {
  margin: 15px 0;
  font-size: 30px;
}
.recipe-links .links .source-a {
  color: rgb(83, 83, 83);
  font-size: 20px;
  margin-top: 50px;
}
.recipe-links .links .source-a .bx {
  color: crimson;
  font-weight: bold;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
  font-size: 18px;
  border-top: 1px solid;
  padding: 20px;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
footer a:hover {
  color: rgb(83, 83, 83);
  transition: 0.5s;
}

/**************************************************************/
@media (max-width: 1080px) {
  .header {
    margin-top: 10px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
    padding: 10px 30px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .header .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(73, 73, 73);
  }
  .header .logo-container h2 {
    margin: 0;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 5px;
    font-family: "Playwrite AT", cursive;
  }
  .header .logo-container .logo .bx {
    font-size: 40px;
    color: crimson;
  }
  .header .search-form {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
  }
  .header .search-form .search-input {
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    outline: none;
    border: 1px solid rgb(73, 73, 73);
  }
  .header .search-form .bx {
    position: absolute;
    right: 10px;
    color: crimson;
    font-size: 25px;
  }
  .hero {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .hero h2 {
    margin: 30px 0;
    font-size: 35px;
    color: rgb(73, 73, 73);
  }
  .hero .hero-container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .hero .hero-container .hero-image {
    flex: 1 0 35%;
    width: 500px;
    height: 500px;
    display: flex;
    position: relative;
  }
  .hero .hero-container .hero-image::before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    background-color: crimson;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
  }
  .hero .hero-container .hero-image .hero-img {
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    border-radius: 10px 100px 10px 10px;
    margin-left: 25px;
    margin-top: 25px;
  }
  .hero .hero-recipe {
    background: rgba(255, 255, 255, 0.6156862745);
    padding: 30px;
    border-radius: 5px;
    padding: 0 30px;
    flex: 1 0 65%;
  }
  .hero .hero-recipe h3 {
    margin-bottom: 10px;
    font-size: 30px;
    color: crimson;
  }
  .hero .hero-recipe p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
    line-height: 2rem;
    font-size: 18px;
  }
  .hero .day-info {
    display: flex;
    gap: 50px;
    margin: 30px 0;
    font-weight: 500;
  }
  .hero .day-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .hero .day-info div .bx {
    font-size: 20px;
    color: crimson;
  }
  .hero .day-buttons {
    display: flex;
    gap: 30px;
  }
  .hero .day-buttons .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 500;
    color: rgb(73, 73, 73);
    box-shadow: 0 0 0 1px crimson;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .day-buttons .animated-button svg {
    position: absolute;
    width: 24px;
    fill: crimson;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .day-buttons .animated-button .arr-1 {
    right: 16px;
  }
  .hero .day-buttons .animated-button .arr-2 {
    left: -25%;
  }
  .hero .day-buttons .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: crimson;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .day-buttons .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .day-buttons .animated-button:hover {
    box-shadow: 0 0 0 4px transparent;
    color: #212121;
    border-radius: 12px;
  }
  .hero .day-buttons .animated-button:hover .arr-1 {
    right: -25%;
  }
  .hero .day-buttons .animated-button:hover .arr-2 {
    left: 16px;
  }
  .hero .day-buttons .animated-button:hover .text {
    transform: translateX(12px);
  }
  .hero .day-buttons .animated-button:hover svg {
    fill: #212121;
  }
  .hero .day-buttons .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 2px crimson;
  }
  .hero .day-buttons .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  .hero .ingredients-info {
    padding: 10px 30px 30px 30px;
  }
  .hero .ingredients-info ul li {
    padding-bottom: 5px;
  }
}
@media (max-width: 875px) {
  .hero {
    max-width: 95vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .hero h2 {
    margin: 30px 0;
    font-size: 35px;
    color: rgb(73, 73, 73);
  }
  .hero .hero-container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .hero .hero-container .hero-image {
    flex: 1;
    width: 450px;
    height: 450px;
    display: flex;
    position: relative;
  }
  .hero .hero-container .hero-image::before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    background-color: crimson;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
  }
  .hero .hero-container .hero-image .hero-img {
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    border-radius: 10px 100px 10px 10px;
    margin-left: 25px;
    margin-top: 25px;
  }
  .hero .hero-recipe {
    flex: 1;
    background: rgba(255, 255, 255, 0.6156862745);
    padding: 30px;
    border-radius: 5px;
    padding: 0 30px;
    flex: 1 0 65%;
  }
  .hero .hero-recipe h3 {
    margin-bottom: 10px;
    font-size: 30px;
    color: crimson;
  }
  .hero .hero-recipe p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
    line-height: 2rem;
    font-size: 18px;
  }
  .hero .day-info {
    display: flex;
    gap: 50px;
    margin: 30px 0;
    font-weight: 500;
  }
  .hero .day-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .hero .day-info div .bx {
    font-size: 20px;
    color: crimson;
  }
  .hero .day-buttons {
    display: flex;
    gap: 30px;
  }
  .hero .day-buttons .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 500;
    color: rgb(73, 73, 73);
    box-shadow: 0 0 0 1px crimson;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .day-buttons .animated-button svg {
    position: absolute;
    width: 24px;
    fill: crimson;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .day-buttons .animated-button .arr-1 {
    right: 16px;
  }
  .hero .day-buttons .animated-button .arr-2 {
    left: -25%;
  }
  .hero .day-buttons .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: crimson;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .day-buttons .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .day-buttons .animated-button:hover {
    box-shadow: 0 0 0 4px transparent;
    color: #212121;
    border-radius: 12px;
  }
  .hero .day-buttons .animated-button:hover .arr-1 {
    right: -25%;
  }
  .hero .day-buttons .animated-button:hover .arr-2 {
    left: 16px;
  }
  .hero .day-buttons .animated-button:hover .text {
    transform: translateX(12px);
  }
  .hero .day-buttons .animated-button:hover svg {
    fill: #212121;
  }
  .hero .day-buttons .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 2px crimson;
  }
  .hero .day-buttons .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  .hero .ingredients-info {
    padding: 10px 30px 30px 30px;
  }
  .hero .ingredients-info ul li {
    padding-bottom: 5px;
  }
}
@media (max-width: 770px) {
  .hero h2 {
    font-size: 42px;
  }
  .hero .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 759px;
    max-height: 1100px;
  }
  .hero .hero-container .hero-image {
    flex: 1 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 750px;
    height: 750px;
  }
  .hero .hero-container .hero-image::before {
    content: "";
    display: block;
    width: 290px;
    height: 290px;
    background-color: crimson;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(45%);
  }
  .hero .hero-container .hero-image .hero-img {
    height: 55% !important;
    width: 55% !important;
    border-radius: 5px 70px 5px 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .hero-container .hero-recipe {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1 0 60%;
    padding: 0;
  }
  .hero .hero-container .hero-recipe h3 {
    font-size: 40px;
    text-transform: capitalize;
  }
  .hero .hero-container .hero-recipe .day-info {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    font-size: 24px;
  }
  .hero .hero-container .hero-recipe #day-description {
    padding: 0 !important;
    text-align: start;
    font-size: 24px;
  }
  .hero .hero-container .hero-recipe .day-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;
    justify-content: start;
    margin-left: 2px;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 28px !important;
    border: 2px solid;
    border-color: transparent;
    font-size: 14px !important;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 700;
    color: rgb(73, 73, 73);
    box-shadow: 0 0 0 1px crimson;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button .text {
    transform: translateX(0) !important;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button .arr-1,
  .hero .hero-container .hero-recipe .day-buttons .animated-button .arr-2 {
    display: none !important;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button:hover .text {
    transform: translateX(0) !important;
  }
  .hero .hero-container .hero-recipe .ingredients-info {
    display: block;
    width: 100%;
    max-height: 200px; /* İçeriğin taşmasını engellemek için max-height ekledik */
    overflow-y: auto; /* İçeriğin taşmasını engellemek için dikey kaydırma ekledik */
    margin: 10px 0; /* Üstten biraz boşluk bıraktık */
    border-radius: 5px; /* Köşeleri yuvarladık */
    margin-bottom: 10px;
    padding: 0 !important;
    font-size: 20px;
    -ms-overflow-style: none; /* Internet Explorer'da scrollbar'ı gizler */
    scrollbar-width: none;
  }
  .hero .hero-container .hero-recipe .ingredients-info ::-webkit-scrollbar {
    display: none; /* Webkit tabanlı tarayıcılarda scrollbar'ı gizler */
  }
}
@media (max-width: 700px) {
  header {
    justify-content: center !important;
    width: 95% !important;
  }
  header .logo-container {
    margin: auto !important;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  header .logo-container .logo i {
    font-size: 50px !important;
  }
  header .logo-container h2 {
    font-size: 32px !important;
  }
  header .search-form {
    display: none !important;
  }
  .hero h2 {
    font-size: 38px;
  }
  .hero .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 699px;
    max-height: 1000px;
  }
  .hero .hero-container .hero-image {
    flex: 1 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 650px;
    height: 650px;
  }
  .hero .hero-container .hero-image::before {
    content: "";
    display: block;
    width: 270px;
    height: 270px;
    background-color: crimson;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(45%);
  }
  .hero .hero-container .hero-image .hero-img {
    height: 55% !important;
    width: 55% !important;
    border-radius: 5px 70px 5px 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .hero-container .hero-recipe {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1 0 60%;
    padding: 0;
  }
  .hero .hero-container .hero-recipe h3 {
    font-size: 35px;
    text-transform: capitalize;
  }
  .hero .hero-container .hero-recipe .day-info {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    font-size: 20px;
  }
  .hero .hero-container .hero-recipe #day-description {
    padding: 0 !important;
    text-align: start;
    font-size: 22px;
  }
  .hero .hero-container .hero-recipe .day-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;
    justify-content: start;
    margin-left: 2px;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 24px !important;
    border: 2px solid;
    border-color: transparent;
    font-size: 12px !important;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: rgb(73, 73, 73);
    box-shadow: 0 0 0 1px crimson;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button .text {
    transform: translateX(0) !important;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button .arr-1,
  .hero .hero-container .hero-recipe .day-buttons .animated-button .arr-2 {
    display: none !important;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button:hover .text {
    transform: translateX(0) !important;
  }
  .hero .hero-container .hero-recipe .ingredients-info {
    display: block;
    width: 100%;
    max-height: 200px; /* İçeriğin taşmasını engellemek için max-height ekledik */
    overflow-y: auto; /* İçeriğin taşmasını engellemek için dikey kaydırma ekledik */
    margin: 10px 0; /* Üstten biraz boşluk bıraktık */
    border-radius: 5px; /* Köşeleri yuvarladık */
    margin-bottom: 10px;
    padding: 0 !important;
    font-size: 20px;
    -ms-overflow-style: none; /* Internet Explorer'da scrollbar'ı gizler */
    scrollbar-width: none;
  }
  .hero .hero-container .hero-recipe .ingredients-info ::-webkit-scrollbar {
    display: none; /* Webkit tabanlı tarayıcılarda scrollbar'ı gizler */
  }
}
@media (max-width: 500px) {
  header {
    justify-content: center !important;
    width: 95% !important;
  }
  header .logo-container {
    margin: auto !important;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  header .logo-container h2 {
    font-size: 22px !important;
  }
  header .search-form {
    display: none !important;
  }
  .hero h2 {
    font-size: 32px;
  }
  .hero .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 499px;
    max-height: 900px;
  }
  .hero .hero-container .hero-image {
    flex: 1 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 550px;
    height: 550px;
  }
  .hero .hero-container .hero-image::before {
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    background-color: crimson;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(45%);
  }
  .hero .hero-container .hero-image .hero-img {
    height: 55% !important;
    width: 55% !important;
    border-radius: 5px 70px 5px 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .hero-container .hero-recipe {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1 0 60%;
    padding: 0;
  }
  .hero .hero-container .hero-recipe h3 {
    font-size: 30px;
    text-transform: capitalize;
  }
  .hero .hero-container .hero-recipe .day-info {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }
  .hero .hero-container .hero-recipe #day-description {
    padding: 0 !important;
    text-align: start;
  }
  .hero .hero-container .hero-recipe .day-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;
    justify-content: start;
    margin-left: 3px;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 20px !important;
    border: 2px solid;
    border-color: transparent;
    font-size: 12px !important;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: rgb(73, 73, 73);
    box-shadow: 0 0 0 1px crimson;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button .text {
    transform: translateX(0) !important;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button .arr-1,
  .hero .hero-container .hero-recipe .day-buttons .animated-button .arr-2 {
    display: none !important;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button:hover .text {
    transform: translateX(0) !important;
  }
  .hero .hero-container .hero-recipe .ingredients-info {
    display: block;
    width: 100%;
    max-height: 200px; /* İçeriğin taşmasını engellemek için max-height ekledik */
    overflow-y: auto; /* İçeriğin taşmasını engellemek için dikey kaydırma ekledik */
    margin: 10px 0; /* Üstten biraz boşluk bıraktık */
    border-radius: 5px; /* Köşeleri yuvarladık */
    margin-bottom: 10px;
    padding: 0 !important;
    font-size: 18px;
    -ms-overflow-style: none; /* Internet Explorer'da scrollbar'ı gizler */
    scrollbar-width: none;
  }
  .hero .hero-container .hero-recipe .ingredients-info ::-webkit-scrollbar {
    display: none; /* Webkit tabanlı tarayıcılarda scrollbar'ı gizler */
  }
}
@media (max-width: 380px) {
  body {
    height: 100vh;
  }
  header {
    justify-content: center !important;
    width: 95% !important;
  }
  header .logo-container {
    margin: auto !important;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  header .logo-container h2 {
    font-size: 18px !important;
  }
  header .search-form {
    display: none !important;
  }
  .hero h2 {
    font-size: 26px;
  }
  .hero .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 400px;
    max-height: 800px;
  }
  .hero .hero-container .hero-image {
    flex: 1 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 450px;
    height: 450px;
  }
  .hero .hero-container .hero-image::before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    background-color: crimson;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(45%);
  }
  .hero .hero-container .hero-image .hero-img {
    height: 55% !important;
    width: 55% !important;
    border-radius: 5px 70px 5px 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .hero-container .hero-recipe {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1 0 60%;
    padding: 0;
  }
  .hero .hero-container .hero-recipe h3 {
    font-size: 24px;
    text-transform: capitalize;
  }
  .hero .hero-container .hero-recipe .day-info {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }
  .hero .hero-container .hero-recipe #day-description {
    padding: 0 !important;
    text-align: start;
  }
  .hero .hero-container .hero-recipe .day-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;
    justify-content: start;
    margin-left: 3px;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 20px !important;
    border: 2px solid;
    border-color: transparent;
    font-size: 12px !important;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 500;
    color: rgb(73, 73, 73);
    box-shadow: 0 0 0 1px crimson;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button .text {
    transform: translateX(0) !important;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button .arr-1,
  .hero .hero-container .hero-recipe .day-buttons .animated-button .arr-2 {
    display: none !important;
  }
  .hero .hero-container .hero-recipe .day-buttons .animated-button:hover .text {
    transform: translateX(0) !important;
  }
  .hero .hero-container .hero-recipe .ingredients-info {
    display: block;
    width: 100%;
    max-height: 200px; /* İçeriğin taşmasını engellemek için max-height ekledik */
    overflow-y: auto; /* İçeriğin taşmasını engellemek için dikey kaydırma ekledik */
    margin: 10px 0; /* Üstten biraz boşluk bıraktık */
    border-radius: 5px; /* Köşeleri yuvarladık */
    margin-bottom: 10px;
    padding: 0 !important;
    -ms-overflow-style: none; /* Internet Explorer'da scrollbar'ı gizler */
    scrollbar-width: none;
  }
  .hero .hero-container .hero-recipe .ingredients-info ::-webkit-scrollbar {
    display: none; /* Webkit tabanlı tarayıcılarda scrollbar'ı gizler */
  }
}/*# sourceMappingURL=style.css.map */